.logo{
    font-weight: 600;
    font-size: 40px;
    margin-right: 100px;
}

.container-fluid{
    width: 70%;
    display: flex;
    flex-direction: space-between;
}

.main-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 60%;
    font-size: 40px;
    padding: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.about-us{
    width: 60%;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
}
.indiv-card{
    width: 240px;
}
.cardback-container, .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#card-backs, #cards{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cardback, .card{
    border:none;
    background-color: transparent;
}
.cardback:focus, .card:focus{
    outline: none;
}
.card-back-image, .card-image{
    display: flex;
    width: 240px;
    margin-top: 1em;
    align-content: center;
}
.card-detail{
    margin-top:35px;
}
.modal-header img{
    width: 240px;
}
.modal-title{
    margin-left: 10px;
    flex-wrap: wrap;
}
.modal-header{
    display: flex;
    align-items: flex-start;
}