.logo{
    font-weight: 600;
    font-size: 40px;
    margin-right: 100px;
}
.container-fluid{
    width: 70%;
    display: flex;
    flex-direction: space-between;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 60%;
    font-size: 40px;
    padding: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.about-us{
    width: 60%;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.indiv-card{
    width: 240px;
}
.cardback-container, .card-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
#card-backs, #cards{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}
.cardback, .card{
    border:none;
    background-color: transparent;
}
.cardback:focus, .card:focus{
    outline: none;
}
.card-back-image, .card-image{
    display: flex;
    width: 240px;
    margin-top: 1em;
    align-content: center;
}
.card-detail{
    margin-top: 15px;
}
.modal-header img{
    width: 240px;
}
.modal-title{
    margin-left: 10px;
    flex-wrap: wrap;
}
.modal-header{
    display: flex;
    align-items: flex-start;
    justify-content: unset;
}
.card-image{
    margin-top: -20px;
}
.search-bar{
    display: flex;
    margin: 50px 0px 30px 0px;
    width: 70%;
    justify-content: center;
}
#search-button{
    border: none;
    background-color: transparent;
    margin-left: 20px;
}
#search-icon{
    width:30px;
    height: 30px;
}
#cardsearch{
    width: 50%;
    border: none;
    text-decoration: none;
    border-bottom-style: groove;
    border-bottom-color: #000000;
}
#cardsearch:focus{
    outline:none;
}
.card-header{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
}
.all-button-container{
    display: flex;
    justify-content: center;
}
.class-button-container, .standard-button-container, .wild-button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.class-buttons, .standard-buttons, .wild-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.class-buttons button, .standard-buttons button, .wild-buttons button{
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 2px black;
}
.all-button-container button:hover{
    background-color: red;
}